PORT=
MONGODB_URI=
JWT_SECRET=
JWT_EXPIRES_IN=
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
PASSWORD_RESET_CODE_EXPIRY=
PASSWORD_RESET_MAX_ATTEMPTS=
CLIENT_ORIGIN=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=